.container{
    width: 100%;
    height: fit-content;
    top:0;
    left: 0;
    display: flex;
    /* background-color: aqua; */
}
.label{
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Montserrat Bold';
    /* min-width: 50px; */
    width: 30%;
    text-align: left;
    color:#334a52;
}
.content{
    font-family: 'Montserrat';
    height: fit-content;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
}