.container{
    flex-grow: 1;
    position: relative;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.body{
    position: relative;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.posters{
    position: relative;
    width: 90vw;
    height: fit-content;
    /* height: fit-content; */
    /* top: 5vh; */
}
.cardsCollection{
    position: relative;
    width: 65vw;
    height: fit-content;
    margin-top: 20vh;
    
}
.hotEvent{
    position: relative;
    width: 100vw;
    height: 50vh;
    margin-bottom: 20vh;
    /* top: 145vh; */
}

