.container{
    position: relative;
    top: -15vh;
    width: 65vw;
    height: fit-content;
    padding-bottom: 0vh;
    /* min-height: 70vh; */
    /* background-color: aqua; */
}
/*Title*/
.label{
    position: relative;
    top: -25%;
    left: 25%;
    width: 50%;
    min-height: 10vh;
    height: fit-content;
    /* margin-bottom: 3vh; */
}
    .labelDisplay{
        z-index: -4;
        position: absolute;
        width: 250%;
        height: 150%;
        left:-75%;
        top: 75%;
        background: linear-gradient(to right, white,#0a5b4d,#052a23,#0a5b4d, white);
    }
   
    .labelContent{
        position: absolute;
        text-shadow: 0px 5px 10px white;
        color: rgb(8, 117, 186); 
        font-size: 70px;
        width: 100%;
        height: 100%;
        left:0;
        top: 0;
    }
    .labelContent::after{
        position:absolute;
        content:'';
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: aliceblue;
        filter:blur(50px);
        opacity: 0.5;
    }
/*Các thẻ*/ 
.cardsVisible{
    position: relative;
    /* margin-top: 3vh; */
    /* padding-top: 5vh; */
    width: 100%;
    height: fit-content;
    display: flex;
    border-radius: 5%;
    overflow: hidden;
}
/* .cardsVisible::after{
    position: absolute;
    content:'';
    width: 100vw;
    height: 90%;
    bottom: 0;
    left: 0;
    border: 2px solid greenyellow;
    border-radius: 5%;
    z-index: -1;
    background: radial-gradient(rgb(255,255,255,0), #000000);
} */
    .allCards{
        position: relative;
        width: 100%;
        height: fit-content;
        display: flex;
        padding-left: 4vw;
        align-items: center;
        perspective: 500px; 
        left: -30%;
    }
    .allCards::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 90%;
        background: radial-gradient(rgb(194,249, 255, 0), rgb(16, 78, 94, 0.5), rgb(16, 78, 94, 0) );
        /* filter: blur(5px); */
        top: 5%;
        left: 30%;
        z-index: -1;
        opacity: 0.8;
        /* background-color: aqua; */
    }
    .allCards::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 90%;
        border-top:thin solid #62ff00;
        border-bottom:thin solid #378208;
        top: 5%;
        left: 30%;
        z-index: 0;
    }
      
        .itemCover{
          position: relative;
          left: calc( (2 - var(--initPosition)) * 65 * 0.29 * 1vw);
          --offset: calc(max(2 - var(--position), var(--position) - 2));
          z-index: calc( -1 * var(--offset));
          flex: 0 0 25%;
          height: fit-content;
          margin-left: 3%;
          margin-right: 3%;
          transform-style: preserve-3d;
          transform-origin:300% 50% 0;
          transform: 
          perspective(1000px)
          translateZ(calc(-1 * ( var(--offset)) * 100px)) 
          translateX(calc( (var(--position) - 2) * 0.30 * 65vw));
          transition: all 0.2s ease;
        }
        
        .itemCover:hover{
            transform: perspective(1000px) translateZ(calc(-1 * ( var(--offset)) * 110px))
            translateX(calc( (var(--position) - 2) * 0.30 * 65vw));;
        }
        .itemCover::after{
            content:'';
            position: absolute;
            width: 104%;
            height: 100%;
            top: -2%;
            left:-5%;
            transition: background-color 0.2s ease;
            filter: blur(5px);
            z-index: -1;
        }
        .itemCover:hover::after{
            background-color: white;
            
        }
/*button*/
.button{
    position: relative;
    width: 3vw;
    height: 3vw;
    background-color: #5eb3e8;
    z-index: 100;
    color: white;
    font-family: serif;
    font-size: small;
    border: none;
}
.container button:hover{
    filter: brightness(1.2);
}
.container button:active{
    background-color: black;
}
.next{
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    left: 30%;
}
.prev{
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    right: 30%;
}

