.container{
    position: relative;
    width: 100%;
    height: fit-content;
    top:0;
    left:0;
}
/* các posters*/
.posterVisible{
    position: relative;
    width: 100%;
    height: fit-content;
    top: 0%;
    left:0%;
    overflow: hidden;
    cursor: pointer;
}
.allPosters{
    position: relative;
    width: 100%;
    height: fit-content;
    display:flex;
    /* justify-content: center; */
    align-items: center;
    transform: translateX( calc( var(--translate) * (-90vw)));
    transition: transform 0.5s ease;
}
.item{
    /* --rotate: calc(360 * var(--position) / var(--quantity)); */
    flex: 0 0 90vw;
    /* flex-basis: 90vw; */
    /* position: absolute; */
    position: relative;
    width: 100%;
    height: fit-content;
    top:0;
    left:0;
    transition: transform 0.5s ease;
    /* transform-origin: 50% 50% -1000px; */
    /* transform: perspective(6000px) rotateY(calc(var(--rotate) * 1deg)); */

}
/*button*/
.container button{
    position: absolute;
    width: 10vh;
    height: 10vh;
    top: 45%;
    border-radius: 50%;
    background-color: #334a52;
    color: white;
    font-weight: bolder;
    opacity: 0.8;
    border:none;
}
.nextButton{
    right: 0%;
}
.prevButton{
    left: 0%;
}
.container button:active
{
    box-shadow: 0px 0px 20px 3px rgb(56, 56, 56) ;
}
.container button:hover{
    transform-style: preserve-3d ;
    transform: perspective(500px) translateZ(20px);
    font-weight: 900;
    font-size: larger;
}