.theaterAndTimeItem{
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.theaterName{
    height: fit-content;
    min-height: 50px;
    align-content: center;
    color: #334a52;
    background-color: #8cbcbc;
    border-top-right-radius: 12px; 
    border-top-left-radius: 12px;
    font-family: 'Aguda Black';
}
.theaterAndTimeBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
    border-left: thin solid #334a52;
    border-right: thin solid #334a52;
    border-bottom: thin solid #334a52;
    background-color: aliceblue;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-bottom: 3px;
}