.pageContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: fit-content; /* Chiều cao toàn trang */
  /* overflow: scroll; */
}
.container {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #e6f4f1;
  text-align: center;
}

.header {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Baloo Bold';
  letter-spacing: 1px;
  color:#003349
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Montserrat Bold';
  transition: all 0.2s ease;
}
.button:nth-child(1){
  background-color: #003349;
}
.button:nth-child(2){
  background-color: #00839a;
}
.button:hover {
  background-color: #e6f4f1;
  color:#003349;
  box-shadow: 0 0 10px 5px #57a7c9;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.eventCard {
  width: 23%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
}

.date {
  padding: 10px;
  background-color: #eaeaea;
  font-size: 14px;
  color: #555;
}
