.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f44336; /* Màu đỏ cho thông báo lỗi */
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 3000;
    animation: fade-in 0.5s ease, fade-out 0.5s ease 4.5s;
  }
  
  /* Notification.module.css */



.success {
  background-color: #d4edda;  /* Màu xanh nhạt */
  color: #155724;  /* Màu chữ xanh đậm */
  border: 1px solid #c3e6cb;
}

.error {
  background-color: #f8d7da;  /* Màu đỏ nhạt */
  color: #721c24;  /* Màu chữ đỏ đậm */
  border: 1px solid #f5c6cb;
}

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  