.forgot-password-container {
  height: 200px;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.forgot-password-container h2 {
  color: #3498db;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
