.login-container {
  height: fit-content;
  width: 300px;
  padding: 50px;
  border: 0px solid #ddd;
  border-radius: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white; /* Màu nền bên trong form */
  /*text-align: center;*/ /* Căn giữa nội dung bên trong */
}

body {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang*/
  align-items: center; /*Căn giữa theo chiều dọc*/
  background-image: url("https://img.pikbest.com/wp/202345/desktop-wallpapers-landscape-background-wallpaper_9578952.jpg!bwr800");
  background-size: cover; /* Giúp hình ảnh phủ toàn bộ trang */
  background-position: center; /* Căn giữa hình ảnh */
  background-repeat: repeat; /* Không lặp lại hình ảnh */
  height: 100vh; /* Chiều cao toàn trang */
  margin: 10vh; /* Xóa khoảng trống mặc định của body */
  overflow: scroll;
}
h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
}
/* Căn chỉnh phần social login */
.social-login {
  text-align: center;
  margin-top: 20px;
}

.social-login button {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 16px;
}
.social-login button:hover {
  background-color: #0056b3;
  color: #ddd;
}
.social-login button img {
  width: 20px;
  margin-right: 10px;
}

.facebook-btn {
  background-color: #3b5998;
  color: white;
}

.google-btn {
  background-color: #db4437;
  color: white;
}

.facebook-btn:hover,
.google-btn:hover {
  opacity: 0.9;
}

.social-login svg {
  margin-right: 10px;
}
