

.container {
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 10vh;
  }
  .subContainer{
    width: 75%;
    position: relative;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* padding-bottom: 5vh; */
    border-radius: 60px;
    background: linear-gradient(to right, #436e7d, rgba(63, 110, 126, 0.0));
  }
  .headingCover{
    width: 30%;
    align-content: center;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .heading {
    font-family: 'Aguda Black';
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  
  
  .seating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .seatRow {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }
  











  /* Legend.module.css */

.legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legendItem {
  border: 2px solid transparent;
  margin: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-family: 'Montserrat';
}

.legendSeat {
  border: 2px solid transparent;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius:5px ;
}







/* Seat */


.seatLayout{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  border-right: 1px solid #436e7d;
  background-color: white;
  /* padding-left: 3vw;
  padding-right: 3vw; */
  padding: 3vw;
}

.screen {
    width: 80%;
    left: 10%;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0;
    padding: 10px;
    background-color: #50899e;
    border-radius: 20px;
    color:white;
  }
  .unavailableSeat{
    background-color: gray;
    pointer-events: none;
  }
.seat {
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 8px;
  margin: 3px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 10px; /* Điều chỉnh cỡ chữ ở đây */
  line-height: 30px; /* Đảm bảo chữ ở giữa ô ghế */
}
.seat:hover{
  background-color: aqua;
}

.selected  {
  background-color: gray; /* Khi ghế được chọn, viền sẽ đổi thành màu đỏ */
}


.regular {
  border-color: rgb(200, 200, 7); /* Ghế thường, viền màu xanh lá */
}

.vip {
  border-color: orange; /* Ghế VIP, viền màu cam */
}

.sweetbox {
  color: white;
  background-color: #c27ed7;
}

.checked {
  background-color: #440d9d; 
  color: white;
}
