.container{
    position: relative;
    width: 100vw;
    height: 50vh;
    background: linear-gradient(to top, #48656f,#e2eef2);
    display: flex;
    /* border-top: thick solid #517d8b; */
}
.container .display{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../../img/logo.png');
    background-position: center;
    background-size: contain;
    opacity: 0.05;
    background-repeat: space;
    /* z-index: -1; */

}

.item{
    width: 25%;
    margin-left: 0%;
    position: relative;
    margin-top: 5vh;
}
.label{
    position: absolute;
    width: 80%;
    height: 20%;
    top:10%;
    left: 10%;
    font-size: large;
    color: #083341;
    font-family: 'Montserrat';
    font-weight:600;
    align-content: center;
}
/* đường kẻ phân cách*/
.Policy::after, .CustomerService::after, .Contact::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 40%;
    background-color: #042935;
    right: 0%;
    top: 30%;
   
}
.content{
    margin-top: 10%;
    position: absolute;
    width: 70%;
    height: 50%;
    top: 22%;
    left: 15%;
    color: #063241;
    font-size: small;
    text-align: left;
    line-height: 200%;
}
.content{
    display: flex;
    justify-content: center;
}
/* thông tin chăm sóc khách hàng*/
.CustomerService .content div{
    width: max-content;
    height: max-content;
}
/* thông tin liên hệ*/
.Contact .content div img{
    width: 28%;
    margin: 2%;
    
}
.Contact .content div img:hover{
    transform: scale(0.9);
}