.navBar{
    width: 100vw;
    height: 10vh;
    height: fit-content;
    position: relative;
    display: flex;
    background: linear-gradient(to bottom, #334a52,rgb(150, 175, 184, 0));
    margin-bottom: 3vh;
}

.logo{
    border: none;
}
.logo button{
    width: fit-content;
    height: 100%;
    margin-left: 3vw;
    padding-right: 2vw;
    border: none;
    /* border: thick solid #39555e; */
    font-family: 'Aguda Black';
    font-size: 60px;
    letter-spacing: 0.5vw;
    background: linear-gradient(to right, #1082a8, #52ddc5 );
    background-clip: text;
    
    /* -webkit-text-stroke: 3px #39555e; */
    text-align: left;
    /* color: #042935; */
    color: transparent;
    transition: all 0.2s ease;
}
.logo button::before{
    position: relative;
    top: -5px;
    content: 'A';
    width: fit-content;
    height: fit-content;
    padding: 5px;
    padding-right: 2px;
    font-family: 'Aguda Black';
    font-size:40px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 4px solid #36d1e5;
    align-content:flex-start;
    text-align: center;
    color: #32d1d9;
    background-color: #4f6066;
}
.logo button:hover{
    /* transform: scale(1.03); */
    filter: brightness(1.2);
}
.logo img{
    width: 100%;
}
/*danh sách nut*/
.buttonsList{
    position: relative;
    height: 40%;
    width: 70%;
    /* top: 20%;
    left: 30%; */
    padding-top: 5vh;
    display: flex;
}
.item{
    position: relative;
    flex: 0 0 12vw;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.item button{
    width: 80%;
    height: 100%;
    border: none;
    font-family: 'Montserrat';
    font-size: large;
    background:none;
    color:#042935;
    position: relative;
    transition: color 0.2s ease, font-size o.2s ease;
}
/* .item button::after{
    position: absolute;
    content: '';
    height: 3px;
    width: 20%;
    top: 20%;
    left: 40%;
    background-color: #39555e;
    border-radius: 20%;
    transition: width 0.2s ease, left 0.2s ease;
} */
.item button:hover{
    color:#005b9a;
    font-size: larger;
}
.item button:hover::after{
    width: 40%;
    left: 30%;
}
/*lời chào*/
.hello{
    position: absolute;
    top: 10%;
    left: 30%;
    height: 40%;
    width: fit-content;
    min-width: 50%;
    color: #5be6d0;
    color: transparent;
    font-family:'Billy Bold';
    font-size: 11vh;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    text-justify: auto;
    -webkit-text-stroke-color: #39555e;
    -webkit-text-stroke-width: 1px;
    animation: backgroundChange 2s linear infinite;
    background: linear-gradient(to right,#65b8d2,#52ddc5 ,#f9f871) ;
    -webkit-background-clip: text;
}
.userAccount{
    font-family: 'Montserrat';
    color:#5ec2b3;
}

/*log*/
.log{
    position: absolute;
    top: 3%;
    right: 0;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
}
.log button{
    height: fit-content;
    position: relative;
    border: none;
    background: none;
    color:#5bc4b4;
    margin-right: 2vw;
    margin-left: 2vw;
}
.log button:hover{
    color:#52ddc5;
}